<html>

<head>
    <title>Algebra Examples for Mathsteps</title>
    <script src="dist/mathsteps.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="dist/vue.js"></script>
    <script src="dist/components.js"></script>
</head>

<body>
    <div id="example1" style="background: #ddd; border: solid 1px black; padding: 20px" @input="refresh">
        <h1>Example 1</h1>
        <center>
            <textarea cols="120" rows="5" v-model="formula"
                :style="((hasError) ? 'background: red; color: white' : 'color: black')"></textarea>
        </center>
        <div v-if="!hasError" style="display: flex; flex-direction: column; width: 100%">
            <div style="display: flex; flex-direction: row; justify-content: space-evenly; border-top: solid 1px black">
                <div
                    style="display: flex; flex-direction: column; justify-content: center; align-items: center; background: #ffc">
                    <div>Steps</div>
                    <div>{{ steps.length }}</div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; background: #ffc;">
                    <div>Original Formula</div>
                    <vue-mathsteps-parse :expression="formula"></vue-mathsteps-parse>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; background: #cff">
                    <div>As Fraction</div>
                    <vue-mathsteps-fraction :decimal="formula"></vue-mathsteps-fraction>
                </div>
            </div>
            <div v-for="(step, index) in steps"
                style="display: flex; flex-direction: row; justify-content: space-evenly; border-top: solid 1px black">
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div>Change {{ index + 1 }}: {{ step.changeType }}</div>
                    <div>Substeps: {{ step.substeps.length }}</div>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; background: #ffc;">
                    <vue-mathsteps-parse :expression="step.newNode.toString()"></vue-mathsteps-parse>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; background: #cff">
                    <div>(As Fraction)</div>
                    <vue-mathsteps-fraction :decimal="step.newNode.toString()"></vue-mathsteps-fraction>
                </div>
            </div>
        </div>
    </div>
    <script>
        function setupExample2() {
            const vue = new Vue({
                el: "#example1",
                data: {
                    mathsteps: mathsteps,
                    //TODO:
                    //WORKS:
                    //formula: `0.125`,
                    //formula: `-1/4`,
                    //formula: `-1/2`,
                    //formula: `-0.5`,
                    //formula: `0.5`,
                    //formula: `sqrt{3 / 2}`,
                    //formula: `((7 - (7 - 0.1)) / (7 * (7 - 0.1))) / ((7 - 0.1) - 7)`,
                    //formula: `(sqrt{10 + 14 * (-3 / 2 - 0.001)^2}) / (3 + 2 * (-3 / 2 - 0.001))`,
                    formula: `(sin(pi/2) - sqrt{sin(pi/2)^2 + 10 * cos(pi/2)^2}) / (19 * cos(pi/2)^2)`,
                    steps: [],
                    hasError: false,
                },
                methods: {
                    refreshEverything(children) {
                        if (children) {
                            for (let i = 0; i < children.length; ++i) {
                                let child = children[i];
                                child.$forceUpdate();
                                refreshEverything(child.$children);
                            }
                        }
                    },
                    updateUI() {
                        var refThis = this;
                        setTimeout(function () {
                            try {
                                mathsteps.math.parse(refThis.formula);
                            } catch {
                                refThis.hasError = true;
                                return;
                            }

                            refThis.steps = refThis.mathsteps.simplifyExpression(refThis.formula);
                            refThis.hasError = false;

                            let children = refThis.$children;
                            refThis.refreshEverything(children);

                            refThis.$forceUpdate();

                            setTimeout(function () {
                                // refreh Latex
                                MathJax.typeset();
                            }, 100);

                        }, 0);
                    },
                    refresh() {
                        this.steps = []
                        this.hasError = true;
                        this.updateUI();
                    },
                },
                created() {
                    this.steps = []
                    this.hasError = false;
                },
                mounted() {
                    this.updateUI()
                },
            });
            return vue;
        }
    </script>


    <div id="example2">
        <h1>Example 2</h1>
        <div style="display: flex; flex-direction: column; margin: 10px; padding: 20px; background: #eee">
            <div>A) Show an inline expression</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-parse expression="sin(x)^2 = 1 - cos(x)^2"></vue-mathsteps-parse>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; padding: 20px; background: #eee">
            <div>B) Simplify an expression</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-parse expression="(a + 2)(a - 2)"></vue-mathsteps-parse>
            </div>
            <div>Result:</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-simplify expression="(a + 2)(a - 2)"></vue-mathsteps-simplify>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; padding: 20px; background: #eee">
            <div>C) Display expression substition, x=5</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-parse-substition expression="x^2 + 4*x - 20" letter="x"
                    value="5"></vue-mathsteps-parse-substition>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; margin: 10px; padding: 20px; background: #eee">
            <div>D) Simplify expression with substition</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-parse expression="sqrt{20 + x} / (10 * x)"></vue-mathsteps-parse>
            </div>
            where x = 5
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-parse-substition expression="sqrt{20 + x} / (10 * x)" letter="x"
                    value="5"></vue-mathsteps-parse-substition>
            </div>
            <div>Result:</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-simplify-substition expression="sqrt{20 + x} / (10 * x)" letter="x"
                    value="5"></vue-mathsteps-simplify-substition>
            </div>
            <div>Result as fraction:</div>
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <vue-mathsteps-simplify-substition expression="sqrt{20 + x} / (10 * x)" letter="x" value="5"
                    fraction="true"></vue-mathsteps-simplify-substition>
            </div>
        </div>
    </div>

    <script>
        function setupExample1() {
            const vue = new Vue({
                el: "#example2",
            });
            return vue;
        }
    </script>

</body>

<script>

    function doUnitTests() {
        function assertAreEqual(formula, actual, expected) {
            if ((actual == null && expected == null) ||
                actual.toString() === expected.toString()) {
                console.log(`Test [PASSED]`, `formula`, formula, `actual`, actual, `===`, `expected`, expected);
            } else {
                console.error('Test [FAILED]', `formula`, formula);
                console.error(" Test Actual: ", actual);
                console.error(" Test Expected: ", expected);
            }
            //debugger;
        };

        function testMathsteps(formula, expected) {
            const steps = mathsteps.simplifyExpression(formula);
            if (steps.length == 0) {
                assertAreEqual(formula, null, null);
            } else {
                assertAreEqual(formula, mathsteps.printNode.ascii(steps[steps.length - 1].newNode), expected);
            }
        }

        testMathsteps(`(sqrt{10 + 14 * (-3 / 2 - 0.001)^2}) / (3 + 2 * (-3 / 2 - 0.001))`, `-3222.6541856053996`);
        testMathsteps(`sqrt{3 / 2}`, `1.224744871391589`);
        testMathsteps(`(sin(pi/2) - sqrt{sin(pi/2)^2 + 10 * cos(pi/2)^2}) / (19 * cos(pi/2)^2)`, `0`);
        testMathsteps(`(sin(pi/2) - sqrt{sin(pi/2)^2 + 10 * cos(pi/2)^2}) / (19 * cos(pi/2)^2)`, `0`);
        testMathsteps(`(sin(1.6708) - sqrt{sin(1.6708)^2 + 10 * cos(1.6708)^2}) / (19 * cos(1.6708)^2)`, `-0.258078141499472`);
        testMathsteps(`sqrt(cos(0)+3)`, `2`);
        testMathsteps(`6 * ln(-3.1 + 3) + 21`, `"DNE"`);
        testMathsteps(`6 * ln(-3 + 3) + 21`, `-Infinity`);
        testMathsteps(`ln(2)`, `0.6931471805599453`);
        testMathsteps(`(77^2 - 127 * 77 + 3850)/ (77 - 77)`, `"DNE"`);
        testMathsteps(`1 / (77 - 77)`, `"DNE"`);
        testMathsteps(`(sqrt{2 * 0 + 64} - 8) \over 0`, `"DNE"`);
        testMathsteps(`(sqrt{2 * 0 + 64} - 8) / 0`, `"DNE"`);
        testMathsteps(`1\over 0`, `"DNE"`);
        testMathsteps(`1 / 0`, `"DNE"`);
        testMathsteps(`8 * sin(\pi+0.1) + 10`, `9.2013`);
        testMathsteps(`8 * sin(\pi) + 10`, `10`);
        testMathsteps(`sin(\pi)`, `1.2246467991473532e-16`);
        testMathsteps(`sin(2 * \pi)`, `0.00001469282041289069`);
        testMathsteps(`sin(3)`, `0.1411200080598672`);
        testMathsteps(`sin(\pi + 1)`, `-0.8414749540675642`);
        testMathsteps(`-0.00004 * 2003^2 + 0.62476 * 2003`, `1090.9139`);
        testMathsteps(`-0.00004 * 2005^2 + 0.62476 * 2005`, `1091.8428`);
        testMathsteps(`10*\sqrt{25}+20`, `70`);
        testMathsteps(`10*\sqrt{x}+20`, null);
        testMathsteps(`\sqrt{100}`, `10`);
        testMathsteps(`10*\sqrt(25)+20`, `70`);
        testMathsteps(`10*\sqrt(x)+20`, null);
        testMathsteps(`\sqrt(100)`, `10`);
        testMathsteps(`25 - 4 * 2 + 3`, `20`);
        testMathsteps(`8 * cos(\pi+0.1) + 10`, `2.04`);
        testMathsteps(`8 * cos(\pi) + 10`, `2`);
        testMathsteps(`cos(\pi)`, `-1`);
        testMathsteps(`cos(2 * \pi)`, `0.9999999998920606`);
        testMathsteps(`cos(3)`, `-0.9899924966004454`);
        testMathsteps(`cos(\pi + 1)`, `-0.5402961240625279`);
        testMathsteps(`(((x^4)^0.25)^2)^0.5`, `x`);
        testMathsteps(`(x^2)^0.5`, `x`);
        testMathsteps(`(x^0.5)^2`, `x`);
        testMathsteps(`(a + 2)*(a + 3)`, `a^2 + 5a + 6`);
        testMathsteps(`2 * a * b^2 + 3 * b^2 * a`, `5a * b^2`);
        testMathsteps(`2 * a^2 * b + 3 * b * a^2`, `5a^2 * b`);
        testMathsteps(`(a + 2)*(b - 3)`, `a * b - 3a + 2b - 6`);
        testMathsteps(`3(a + h)^2 + 2(a + h) - 1`, `3a^2 + 6a * h + 3h^2 + 2a + 2h - 1`);
        testMathsteps(`3 * a ^ 2 + 3 * a * h + 3 * a * h + 3 * h ^ 2 + 2 * a + 2 * h - 1`, `3a^2 + 6a * h + 3h^2 + 2a + 2h - 1`);
        testMathsteps(`3 * a ^ 2 + 3 * a * h + 3 * h * a + 3 * h ^ 2 + 2 * a + 2 * h - 1`, `3a^2 + 6a * h + 3h^2 + 2a + 2h - 1`);
        testMathsteps(`2 * a * b + 4 * a * b`, `6a * b`);
        testMathsteps(`2*b*a + 4*a*b`, `6 * a * b`);
        testMathsteps(`2*a + 3*a`, `5a`);
        testMathsteps(`2 * a * b + 3 * a * b`, `5a * b`);
        testMathsteps(`2 * a * b + 3 * b * a`, `5a * b`);
    }

    doUnitTests();
    setupExample1();
    var vue = setupExample2();

</script>

</html>